.column{
  display:inline-block;

}

.button{
  border: dotted;
  border-width: 1px;
  height: 10px;
  width: 10px;
  background-color: white;

}
.colorBox{
  height: 50px;
  width: 50px;
  border: solid;
  display: inline-block;
  border-radius: 75px;
}

#pixelPainter{
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 600px;
}

#colors{
  margin: 0 auto;
  display: block;
  width: 300px;
}

#sliders{
  margin: 0 auto;
  display: block;
  width: 400px;
  margin-top: 35px;
}

#clear{
  margin: 0 auto;
  margin-top: 10px;
  width: 55px;
}

#currentSelectedColor{
  margin: 0 auto;
  width: 75px;
  display: block;
  margin-top: 15px;
}

#container{
  margin: 0 auto;
  width: 600px;

}

input[type=range]::-webkit-slider-thumb {
  background-color: red;
}

h1 {
  text-align: center;
}